# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.BookingApi-Sdk.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\chris.hayes\Documents\BookingApi-Sdk-CSharp\.idea\.idea.BookingApi-Sdk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
